<% content_for :page_title do %> Reset Password <% end %>

<!-- _tag form seems preferable here, @user isn't really useful for anything -->
<%= form_with model: @user, url: forgot_password_path, method: :put, local: true do |f| %>
<p>
    <%= f.label 'Username or email' %><br>
    <%= f.text_field :username %>
    <%= show_field_error(@user, :username) %>
</p>
<p>
    <%= f.submit 'Send Password Reset Instructions' %>
</p>
<% end %>