<% content_for :page_title do %> Reset Password <% end %>

<%= form_with model: @user, url: password_reset_path, method: :put, local: true do |f| %>
<p>
    <%= f.label 'New Password: ' %>
    <%= f.password_field :password %>
    <%= show_field_error(@user, :password) %>
</p>
<p>
    <%= f.hidden_field :username %>
    <%= f.label 'password confirmation' %>
    <%= f.password_field :password_confirmation %>
    <%= show_field_error(@user, :password_confirmation) %>
</p>

<p>
    <%= f.submit 'Update' %>
</p>
<% end %>