<h2>Sign In</h2>

<%= form_with model: @user, url: sign_in_path(@user) do |f| %>
<p>
  <%= f.label 'Username or Email ' %> <br>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label 'Password ' %> <br>
  <%= f.text_field :password %>
</p>
<p>
  <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
  <%= f.submit 'Clear', type: 'reset' %>
</p>

<p>
  <%= label_tag :remember_me, 'Remember me on this computer' %>
  <%= check_box_tag :remember_me %>
</p>
<% end %>

<%= link_to 'forgot your password?', forgot_password_path %>