<%= form_with model: @character, local: true do |f| %>
<p>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
    <%= show_field_error(@character, :name) %>
</p>

<p>
    <%= f.label 'Race' %>
    <%= f.select :race, Character.all_races %>
    <%= show_field_error(@character, :race) %>
</p>

Classes
<%= show_field_error(@character, :character_specializations) %>
<%= f.fields_for :character_specializations do |cf| %>
<ul>
    <li>
        <%= cf.select :character_class, CharacterSpecialization.all_classes %>
        <%= show_field_error(@character.character_specializations[cf.index], :character_class) %>
    </li>
    <li>
        <%= cf.label 'Subclass' %>
        <%= cf.select :subclass, CharacterSpecialization.all_subclasses.unshift(nil) %>
        <%= show_field_error(@character.character_specializations[cf.index], :subclass) %>
    </li>
    <li>
        <%= cf.label 'Level' %>
        <%= cf.select :level, (1..20) %>
        <%= show_field_error(@character.character_specializations[cf.index], :level) %>
    </li>
    <li>
        <%= cf.label 'Spellcasting Ability Score' %>
        <%= cf.select :spellcasting_ability_score, (1..30) %>
        <%= show_field_error(@character.character_specializations[cf.index], :spellcasting_ability_score) %>
    </li>
    <li>
        <%= cf.label 'Add default spells if any' %>
        <%= cf.check_box :should_add_default_spells %>
    </li>
    <li>
        <%= cf.label 'Delete' %>
        <%= cf.check_box :_destroy %>
    </li>
</ul>
<% end %>


<p>
    <%= f.submit button %>
</p>

<% end %>