<%= content_for :page_title do @spell.name end %>

<p>
    <i>
        <% if @spell.level != 0 %>
        <%= i2ord(@spell.level) %> level <%= @spell.school %>
        <% else %>
        <%= @spell.school %> Cantrip
        <% end %>
    </i>
</p>

<p>
    <strong>Classes: </strong> <%= @spell.caster_classes.pluck(:name).join(', ') %>
</p>

<% [:casting_time, :range, :components].each do |elem| %>
<p>
    <strong><%= elem.to_s.sub(/_/, ' ').capitalize%>: </strong>
    <%= @spell[elem] %>
</p>
<% end %>

<p>
    <strong>Duration: </strong>
    <%= (@spell.concentration ? 'Concentration, up to ' : '') +
        @spell.duration
    %>
</p>

<p>
    <i><%= @spell.description %></i>
</p>

<p>
    <%= link_to 'Edit', edit_spell_path(@spell) %>
    <%= link_to 'Delete', spell_path(@spell), method: :delete %>
</p>

<p>
    Created at: <%= @spell.created_at.to_date %>, by user <%= @spell.user.username %><br>
    Last update: <%= @spell.updated_at.to_date %>
</p>