<!DOCTYPE html>
<html>

<head>
  <title>Spellcraft</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<h1><%= link_to 'Spellcraft', :root %></h1>
<nav>
  <% if current_user %>
  Logged in as: <%= current_user.username %>
  <%= link_to 'Sign Out',  signed_out_path %>
  <%= link_to 'Account Settings', account_settings_path %><br>
  <%= link_to 'Characters', characters_path %>
  <%= link_to 'New Character', new_character_path %>
  <%= link_to 'All Spells', spells_path %>
  <%= link_to 'New Spell', new_spell_path %>
  <% else %>
  <%= link_to 'Sign In',  sign_in_path %> or
  <%= link_to 'Sign Up',  new_user_path %>
  <% end %>
</nav>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<h2><%= yield :page_title %></h2>



<body>
  <%= yield %>
</body>

</html>